body {
    font-family: 'Outfit', sans-serif;
    background-color: rgba(255, 0, 43, 0.678);
    transition: all .3s;
   }
 
 #flexcontainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
   }
   
#dealname {
  margin-left: 7.5vh;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(110, 110, 241, 0.774);
    width: 15vw;
    height: 40vh;
    font-size: 1rem;
    border-radius: 15px;
    padding-bottom: 3vh;
    margin: 7.5vh;
    box-shadow: 10px 10px;
   }
   
   .card-img {
    align-items: center;
    width: 45%;
    height: 50%;
   }
   
   @media screen and (max-width: 800px) {
    .card {
      width: 100%;
      margin: 5.5vh;
      height: 90%;
    }
    .title {
      font-size: 1.3rem;
    }
   }
   
   
   @media screen and (max-width: 1200px) and (min-width: 801px) {
    .card {
      width: 65%;
      margin: 6.5vh;
      height: 65%;
    }
    .title {
      font-size: 2rem;
    }
   }

   #everything {
    background-color: rgb(230, 55, 55); 
    height: 20%;
    width: 20%;
    margin-left: 40%;  
    margin-right: 40%;
    margin-bottom: 2.5%;
   }

   .title {
    background-color: rgb(7, 126, 144);
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 7px;
   }
  
   #inputcontainer { 
    display: flex; 
    align-items: center;
    flex-direction: column;  
    align-self: center;  
    background-color: rgba(144, 7, 7, 0.926);
    padding-bottom: 2%; 
    margin-left: 35vw; 
    margin-right: 35vw;
    border-radius: 10px; 
 }

 h1,
 h2,
 h3,
 h4,
 h5 {
   text-align: center;
 }
   